/* External CSS */
body {
  background-color: blanchedalmond;
  font-family: Verdana, sans-serif;
}

h3 {
  color: darkorange;
  font-weight: bold;
}

p.external {
  color: navy;
  font-size: 16px;
}
